.menuButton {
  padding: 10px;
  font-size: 1.25rem;
  margin-left: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.menuButton:hover{
    text-decoration: underline;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}