.intro{
    position: fixed;
    align-items: center;
    top: 35vh;
    width: 50%;
    left: 50%;
    transform: translateX(-50%); 
    
  }
  
  .authorsBox{
    display: flex;
    justify-content: center;
  }
  