:root{
    background-color: black;
    overflow: scroll;
}

.hide { display: none; }
.show { display: block; }

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}