:root{
    background-color: black;
}

.globe{
    position: fixed;
    z-index: 0;
}
.title {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); /* 🔥 magiczne wycentrowanie */
  z-index: 100;
  color: white;
  font-size: 5rem;
  font-family: "Inter Tight", sans-serif;
}