:root{
    background-color: black;
    overflow: hidden;
}

.menu{
  position: fixed;
  display: flex;
  justify-content: space-around;
}

.intro{
  position: fixed;
  align-items: center;
  top: 50vh;
  width: 100%;
  left: 40%;
  
}

.authors{
  display: flex;
  margin-left: 5%;
}
